@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles here */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  gap:16px;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 16px; /* this sets the spacing */
}

.nav-item {
  font-size: 14px;
  color: #000;
  cursor: pointer;
}

.nav-divider {
  height: 24px;
  width: 1px;
  background-color: #ccc;
}

.nav-icon .icon {
  width: 20px;
  height: 20px;
  color: #000;
}

.user-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ccc;
}

.user-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
